.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Aaaa aaaaa2 ."
    "asdsasadasdas asdsasadasdas aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
    "asdsasadasdas asdsasadasdas aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa";
}

.Aaaa {
  grid-area: Aaaa;
  background-color: red;
}

.aaaaa2 {
  grid-area: aaaaa2;
  background-color: green;
}

.asdsasadasdas {
  grid-area: asdsasadasdas;
  background-color: gray;
}

.aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa {
  grid-area: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa;
  background-color: yellow;
}
